<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
		<div class="modal-title" id="myModalLabel">
			<img src="../img/yellowhandshake.png" width="25" style="padding-right: 5px;" alt="">Apply For A Job
			<br>
			<h2 style="modal-sub-title">Applying for a job sends your profile to the employer along with a message.</h2>
		</div>
	</div>

	<div class="modal-body" style="color: #000;">
		<form ng-submit="mail()">
			<div class="mc-field-group">
				<label for="yourName">Your name
				</label>
				<input type="text" value="" placeholder="" name="" class="profile-form-field" id="yourName" ng-model="email.name">
			</div>
			<div class="mc-field-group">
				<label for="addAMessage">Add a message
				</label>
				<input type="text" name="" placeholder="Why do you want them to work for you?" class="profile-form-field" value="" id="addAMessage" ng-model="email.message">
			</div>
			<div class="mc-field-group">
				<label for="contact">You can reach me at:
				</label>
				<input type="text" name="" placeholder="Add your phone number or specific email address." class="profile-form-field" value="" id="contact" ng-model="email.contact">
			</div>
			<input type="submit" value="APPLY" name="subscribe" style="width: 20%; text-align:center; margin-top: 20px;" class="round-green-btn" ng-click="apply()">
		</form>
	</div>


</div>
