<section id="student-login">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 sign-up-box">
            <h1 style="font-family: 'Cedarville Cursive', cursive; text-align:center;">Student Log In</h1>
            <h2 style="text-align:center; font-size: 1.8em;">Log in, build your profile, and apply to jobs.  Simple. <br>Not sure why or what to do? Look below.</h2>
            <form>
                <div clss="row">
                    <div class="col-xs-12">
                       <a href="" style="z-index:1; font-weight: 100; text-decoration: none;" ng-click="login()"><button class="btn btn-lg round-green-btn btn-block"><img src="../img/white-grad-cap.png" width="30" style="padding-right:5px;" alt="">LOG IN WITH FACEBOOK</button></a>
                    </div>
                </div>
                
                <!--
                <div clss="row">
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="post-form-field" placeholder="Enter your email" ng-model="email" />
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <input type="password" class="post-form-field " placeholder="Password" ng-model="pass" />
                    </div>
                </div>

                <div clss="row">
                    <div class="col-xs-12 col-sm-6">
                        <label ng-cloak ng-show="createMode" style="width:100%; ">
                            <input type="text" class="post-form-field" placeholder="What is your name?" ng-model="name"/>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label ng-cloak ng-show="createMode" style="width:100%; ">    
                            <input type="password" class="post-form-field" placeholder="Confirm Password" ng-model="confirm" />
                        </label>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-xs-12" style="margin-top:25px;">
                        <button class="btn btn-block round-green-btn" ng-click="loginPass()" ng-hide="createMode">Log In &#8594;</button>
                        <button class="btn btn-block round-gold-btn" ng-click="createMode = true" ng-hide="createMode">Sign Up</button>
                        <button class="btn btn-block round-green-btn" ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
                        <button class="btn btn-block round-gold-btn" ng-cloak ng-show="createMode" ng-click="createMode = false">&#8592; back to Sign In</button>
                    </div>
                </div>
                -->


                <div class="row t-c-pp">
                    <div class="col-xs-12"><br>
                    By signing up you agree to our <a href="terms-and-conditions.html">Terms &amp; Conditions</a> and our <a href="privacy-policy.html">Privacy Policy</a></div>
                </div>


            </form>
        </div>
    </div>
</div>
</section>  
<!--
    <div class="container">
    <div class="row" style="margin-top:100px;">
        <div class="col-md-4 wow fadeInLeft">
            <h1 class="intro-header-sentence-inverse">Enter your name, college, major, and current location.  Should it change, no worries, just update.</h1>
        </div>
        <div class="col-md-8 wow fadeInRight">
            <img src="../img/screenshots/createprofileSS.png" class="img-responsive" alt="">
        </div>
    </div>
    <div class="row home-page-row">
        <div class="col-md-4 wow fadeInLeft">
            <h1 class="intro-header-sentence-inverse">Tell us and <i>show</i> us.  Add a little bit about yourself.</h1>
        </div>
        <div class="col-md-8 wow fadeInRight">
            <img src="../img/screenshots/aboutme.png" class="img-responsive" alt="">
        </div>
    </div>
    <div class="row home-page-row">
        <div class="col-md-4 wow fadeInLeft">
            <h1 class="intro-header-sentence-inverse">Build your portfolio of academic accomplishments and work experiences. </h1>
        </div>
        <div class="col-md-8 wow fadeInRight">
            <img src="../img/screenshots/filledoutexperience.png" class="img-responsive" alt="">
        </div>
    </div>
    <div class="row home-page-row">
        <div class="col-md-4 wow fadeInLeft">
            <h1 class="intro-header-sentence-inverse">Everything is updated in real time.  Once you add, employers will see it!</h1>
        </div>
        <div class="col-md-8 wow fadeInRight">
            <img src="../img/screenshots/jobleaf.png" class="img-responsive" alt="">
        </div>
    </div>
    <div class="row home-page-row">
        <div class="col-md-4 wow fadeInLeft">
            <h1 class="intro-header-sentence-inverse">You're all set!  Time to pinpoint a job.  You can filter by skill, location, and time frame.  Apply is a one click process, no lengthy forms needed.</h1>
        </div>
        <div class="col-md-8 wow fadeInRight">
            <img src="../img/screenshots/pinpointajob.png" class="img-responsive" alt="">
        </div>
    </div>
</div>
-->
