
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 sign-up-box">
            <h1 style="  font-family: 'Cedarville Cursive', cursive; text-align:center;">Business Log In</h1>
            <h2 style="text-align:center; font-size: 1.8em;">You must log in before posting a job or pinpointing a student.<br>Not sure why or what to do? Watch the videos below.</h2>
            <form>
                <div clss="row">
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="post-form-field" placeholder="Enter your email" ng-model="email" />
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <input type="password" class="post-form-field " placeholder="Password" ng-model="pass" />
                    </div>
                </div>

                <div clss="row">
                    <div class="col-xs-12 col-sm-6">
                        <label ng-cloak ng-show="createMode" style="width:100%; ">
                            <input type="text" class="post-form-field" placeholder="What is your name?" ng-model="user.name"/>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label ng-cloak ng-show="createMode" style="width:100%; ">    
                            <input type="password" class="post-form-field" placeholder="Confirm Password" ng-model="confirm" />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" style="margin-top:25px;">
                        <button class="btn btn-block round-green-btn" ng-click="loginPass()" ng-hide="createMode">Log In &#8594;</button>
                        <button class="btn btn-block round-gold-btn" ng-click="createMode = true" ng-hide="createMode">Sign Up</button>
                        <button class="btn btn-block round-green-btn" ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
                        <button class="btn btn-block round-gold-btn" ng-cloak ng-show="createMode" ng-click="createMode = false">&#8592; back to Sign In</button>
                    </div>
                </div>
                <div class="row t-c-pp">
                    By signing up you agree to our <a href="terms-and-conditions.html">Terms &amp; Conditions</a> and our <a href="privacy-policy.html">Privacy Policy</a>
                </div>

                <p ng-show="err" class="error">{{err}}</p>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h1 style="  font-family: 'Cedarville Cursive', cursive; text-align:center;">Post a job</h1>
            <iframe src="//instagram.com/p/rBbZkohVY6/embed/" style="margin-left:auto;margin-right:auto;display:block;" width="412" height="510" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1 style="  font-family: 'Cedarville Cursive', cursive; text-align: center;">Pinpoint a student</h1>
            <iframe src="//instagram.com/p/rBcQqyhVaB/embed/" style="margin-left:auto;margin-right:auto;display:block;" width="412" height="510" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        </div>
    </div>
</div>



