
<div class="row">
<div class="col-xs-12">
	<div class="thumbnail-container">
		<div class="tap-bar">
			<a href="" ng-click="tap(profile)">
				<h1>TAP</h1>
			</a>
		</div>



		<div class="thumbnail-inner">

			<div class="top-half clearfix">
				<div class="name">
					{{ profile.name }}
				</div>


				<ul class="personal-info">
					<li><img src="img/graduates.png" width="25" style="padding-right:5px;" alt="">{{ profile.college }}</li>
					<li><img src="img/pinpoint.png" width="14" style="padding-right:5px;" alt="">{{ profile.location }}</li><br>
					<li><img src="img/book.png" width="20" style="padding-right:5px;" alt="">{{ profile.major }}</li>	
				</ul>
				<div id="face-tap" ng-click="shown = ''">
					<img src="http://graph.facebook.com/{{ profile.id }}/picture?type=large" height="100" class="marcella img-circle" data-target="bottom-half-marcella" alt="">
				</div>
				<div class="skill-buttons">
					<button type="button" class="btn skill-btns btn-skill-level-1" ng-click="show('about')">
						About
					</button>
					<span ng-repeat="(skill, attrs) in profile.skills">
						<button type="button" class="btn skill-btns btn-skill-level-1" ng-click="show(skill)" ng-show="skill == 'Academic Accomplishments'">
							<img src="img/graduates.png" width="30" alt="">
						</button>
						<button class="btn skill-btns btn-skill-level-1"  ng-click="show(skill)" ng-show="skill == 'Leadership'">
							<img src="img/leadership.png" width="20" alt="">
						</button>
						<button class="btn skill-btns btn-skill-level-1"  ng-click="show(skill)" ng-show="skill == 'Work Experience'">
							Work
						</button>
						<button class="btn skill-btns btn-skill-level-1"  ng-click="show(skill)" ng-show="skill == 'Open Campus Job'">
							OCJ
						</button>
						
					</span>
					
				</div>	
			</div>

			<div class="bottom-half">
				<div ng-show="shown === 'about'">
					<div ng-class="{'job-template-oc': skill === 'Academic Accomplishments', 'job-template-oc': skill !== 'Academic Accomplishments'}">
						<div class="row">
							<div class="col-xs-12">
								<div class="job-snipbit">About Me</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="portfolio">
									<p>
										{{ profile.about }}
									</p>
									<hr>
									<img src="../img/wrench.png" style="padding-right: 5px;" width="20" alt="">{{ profile.skillset }}
									<br><a href="{{ profile.linkedin }}"><img src="../img/linkedin.png" style="padding-right: 5px;" width="20" alt="">{{ profile.linkedin }}</a>
									<br><a href="{{ profile.facebook }}"><img src="../img/facebook.png" style="padding-right: 5px;" width="20" alt="">{{ profile.facebook }}</a>
									<br><a href="{{ profile.twitter }}"><img src="../img/twittericon.png" style="padding-right: 5px;" width="20" alt="">{{ profile.twitter }}</a>
									<br><a href="{{ profile.instagram }}"><img src="../img/instagram.png" style="padding-right: 5px;" width="20" alt="">{{ profile.instagram }}</a>
									<br><a href="{{ profile.beehanced }}"><img src="../img/behance.png" style="padding-right: 5px;" width="20" alt="">{{ profile.beehanced }}</a>
									<br><a href="{{ profile.github }}"><img src="../img/github.png" style="padding-right: 5px;" width="20" alt="">{{ profile.github }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div ng-repeat="(skill, attrs) in profile.skills" ng-show="shown === skill">
				
					<div ng-class="{'job-template-college': skill === 'Academic Accomplishments', 'job-template-oc': skill !== 'Academic Accomplishments'}" ng-repeat="job in attrs.jobs">
						<button type="button" class="close" style="font-size: 10px;padding: 6px 3px 0 0;" ng-click="remove($index, skill)" aria-hidden="true" ng-show="d">&times;</button>
						<!--<button type="button" class="close" ng-click="edit($index, skill)" aria-hidden="true" ng-show="d">Edit</button>-->
						<div class="row">
							<!--<div class="col-xs-12">
								<div class="job-title">{{ job.title }}</div>
							</div>-->
							<div class="col-xs-12">
								<div class="job-snipbit">{{ job.org }}<br>{{ job.date }}<br>{{ job.company }}</div>
							</div>
							
						</div>
						<hr>
						<div class="row">
							<div class="col-xs-12">
								<div class="portfolio">
									{{ job.description }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>