

<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
		<div class="modal-title" id="myModalLabel">
			<img src="../img/tap.png" width="25" style="padding-right: 5px; padding-bottom: 14px;" alt="">Tap {{ profile.name }} for a job
		</div>
		<div class="modal-sub-title" ng-click="send()">Tapping a student send an email to him or her about your job.<br>Let them know they've impressed you.</div>
	</div>

	<div class="modal-body" style="color: #000;">
		<form ng-submit="mail()">

			
				<label for="fname">Your name
				</label>
				<input type="text" value="" placeholder="" class="profile-form-field" id="fname" ng-model="email.name">
			
				<label for="title">Your Title at Company
				</label>
				<input type="text" value="" placeholder="" class="profile-form-field" id="title" ng-model="email.title">
			
				<label for="website">LinkedIn Profile or Company Website
				</label>
				<input type="text" value="" placeholder="" class="profile-form-field" id="website" ng-model="email.website">
			
				<label for="job-post">For what job?
				</label>
				<input type="link" value="" placeholder="You should have received a link via email to your job post" name="job-post" class="profile-form-field" id="job-post" ng-model="email.job">
			
				<label for="message">Add a message
				</label>
				<input type="text" name="message" placeholder="Why do you want them to work for you?" class="profile-form-field" value="" id="message" ng-model="email.message">
			
				<label for="contact">How can this student contact you?
				</label>
				<input type="text" value="" placeholder="add phone number or email" name="contact" class="profile-form-field" id="contact" ng-model="email.contact">
			

			<input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" style="width: 20%; text-align:center; margin-top:10px;" class="round-green-btn" ng-click="send()">
		</form>
	</div>


</div>
